nav.navbar.navbar-light.bg-light.mx-auto
  a.nav-item.nav-link(href='/')| Home 
  a.nav-item.nav-link(href='/capitals')| Capitals 
  a.nav-item.nav-link(href='/populous') Populous
  a.nav-item.nav-link(href='/regions') Regions