h1 {
  font-size: 1.4em;
  text-align: center;
}

a {
  color: var(--teal);
}

/* Code for exercise 01-card */

/* Code for exercise 02-navbar */

/* Code for exercise 03-form */

/* Code for exercise 04-bootstrap-grid */

/* Code for exercise 05-bootstrap-form */
